#btn,
#btn-continue {
  width: 100%;
  width: 380px;
  height: 55px;
  background-color: $VeryDarkViolet;
  border: none;
  border-radius: 8px;
  color: $LightGrayishViolet;
  font-size: 1.1em;
  margin: 0;
  cursor: pointer;
  transition: all 1s;

  @include beforeTablet1 {
    width: 320px;
  }

  &:hover {
    background: #4a0b6e;
  }
}
