.card_info_front {
  position: absolute;
  color: $White;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  top: 140px;
  left: 35px;
  user-select: none;

  @include laptopDesktops {
    top: 110px;
    left: 25px;
  }

  @include beforeTablet1 {
    top: 100px;
  }

  @include beforeTablet2 {
    top: 80px;
    left: 20px;
  }

  @include mobileMini {
    top: 70px;
  }

  & .row {
    display: flex;
    width: 100%;
    min-width: 350px;
    justify-content: space-between;

    @include laptopDesktops {
      min-width: 300px;
    }

    @include beforeTablet1 {
      min-width: 260px;
    }

    @include mobile {
      min-width: 250px;
    }

    @include mobileMini {
      min-width: 220px;
    }

    & .card_info_number {
      margin-bottom: 30px;

      @include beforeTablet1 {
        margin-bottom: 25px;
      }

      @include mobileMini {
        margin-bottom: 20px;
      }

      & #number_info {
        font-size: 1.8em;

        @include laptopDesktops {
          font-size: 1.6em;
        }

        @include beforeTablet1 {
          font-size: 1.4em;
        }

        @include beforeTablet2 {
          font-size: 1.2em;
        }

        @include mobileMini {
          font-size: 1em;
        }
      }
    }

    @include laptopDesktops {
      p {
        font-size: 0.9em;
      }
    }

    @include beforeTablet1 {
      p {
        font-size: 0.75em;
      }
    }

    @include mobile {
      p {
        font-size: 0.7em;
      }
    }

    @include mobileMini {
      p {
        font-size: 0.6em;
      }
    }
  }
}
