.card_side {
    width: 100%;
    max-width: 483px;
    height: 900px;
    background-image: url(../img/bg-main-desktop.png);

    & .cards {
        position: relative;
        top: 185px;
        pointer-events: none;
        user-select: none;

        & .card_front {
            position: relative;
            left: 160px;
            margin-bottom: 40px;

            & .card_logo {
                position: absolute;
                top: 30px;
                left: 35px;
            }
        }
        
        & .card_back {
            position: relative;
            left: 255px;
        }
    }
}