.card_info_back {
  position: absolute;
  color: $White;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  top: 110px;
  left: 360px;

  @include laptopDesktops {
    top: 92px;
    left: 300px;
  }

  @include beforeTablet1 {
    top: 80px;
    left: 260px;
  }
}
