@import "./responsive";

.card_side {
  display: flex;
  width: 100%;
  max-width: 483px;
  height: 100vh;
  max-height: 900px;
  background-image: url(../img/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include beforeTablet1 {
    max-width: 363px;
  }

  @include beforeTablet2 {
    max-width: 300px;
    max-height: none;
    min-height: 900px;
  }

  & .cards {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 160px;
    pointer-events: none;
    user-select: none;

    @include laptopDesktopsL {
      left: 100px;
    }

    @include laptopDesktops {
      left: 60px;
    }

    @include beforeTablet2 {
      left: 30px;
    }

    & .card_front {
      position: relative;
      margin-bottom: 40px;

      & .card_logo {
        position: absolute;
        top: 30px;
        left: 35px;

        @include laptopDesktops {
          left: 25px;
        }

        @include beforeTablet2 {
          top: 20px;
          left: 20px;

          .card_logo_img {
            width: 60px;
          }
        }
      }
    }

    & .card_back {
      display: flex;
      position: relative;
      left: 100px;

      @include beforeTablet1 {
        left: 50px;
      }
    }

    @include laptopDesktops {
      .card_front_img,
      .card_back_img {
        width: 380px;
      }
    }

    @include beforeTablet1 {
      .card_front_img,
      .card_back_img {
        width: 340px;
      }
    }

    @include beforeTablet2 {
      .card_front_img,
      .card_back_img {
        width: 300px;
      }
    }
  }
}
