.form_side {
  width: 100%;
  margin-left: 130px;
  background-color: $White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & #afterConfirm {
    width: 100%;
    height: 5px;
    max-width: 380px;
    background-color: transparent;
    border-radius: 8px;

    & #loading {
      width: 0%;
      height: 5px;
      background-color: $Loading;
      border-radius: 8px;
      display: none;
    }
  }
}
