// Width
$laptopDesktopL: 1440px;
$laptopDesktop: 1124px;
$tablet: 991px;
$mobileTablet: 767px;
$mobile: 480px;
$mobileMini: 320px;

@mixin laptopDesktopsL {
  @media screen and (max-width: #{$laptopDesktopL}) {
    @content;
  }
}

@mixin laptopDesktops {
  @media screen and (max-width: #{$laptopDesktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobileTablet {
  @media screen and (max-width: #{$mobileTablet}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin mobileMini {
  @media screen and (max-width: #{$mobileMini}) {
    @content;
  }
}
