// Width
$laptopDesktopL: 1440px;
$laptopDesktop: 1124px;
$beforeTablet1: 1000px;
$beforeTablet2: 850px;
$tablet: 768px;
$mobile: 625px;
$mobileMini: 360px;

@mixin laptopDesktopsL {
  @media screen and (max-width: #{$laptopDesktopL}) {
    @content;
  }
}

@mixin laptopDesktops {
  @media screen and (max-width: #{$laptopDesktop}) {
    @content;
  }
}

@mixin beforeTablet1 {
  @media screen and (max-width: #{$beforeTablet1}) {
    @content;
  }
}

@mixin beforeTablet2 {
  @media screen and (max-width: #{$beforeTablet2}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin mobileMini {
  @media screen and (max-width: #{$mobileMini}) {
    @content;
  }
}
